/*carousel*/
.carousel-indicators li { background-color:DimGray; 
} 
 
.carousel-indicators > .active { background-color:silver; 
}  
.carousel-control-next-icon, .carousel-control-prev-icon { background-color: silver; 
}  

/*mode claire*/
[data-theme="light"] {
    --bg-color: #ececec;
    --text-color: #212121;
}

/*mode sombre*/
[data-theme="dark"] {
    --bg-color: #212121;
    --text-color: #ececec;
}

/*fond de couleur*/
html {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
/*fond de couleur*/
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*bouton du changement de theme*/
.theme-toggler {
    padding: 10px 20px;
    background-color: #1c1b1b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
/*changement de couleur en passant sur le bouton*/
.theme-toggler:hover {
    background-color: #4ae2ec;
}
/*position des images*/
img{
    width: 30%;
    margin-left: 7%;
    margin-right: 7%;
}
/*centre l'image du rover*/
.centrer-rover{
    margin-left: 35%;
    margin-top: 4%;
}

/*ajuste le titre2*/
h2{
    text-align: center;
    margin-top: 3%;
}
/*ajuste les lignes*/
ul{
    text-align: center;
    margin: 2%;
}
/*Le curseur devient une main pour indiquer que c'est cliquable*/
.mot-censure {
    position: relative;
    cursor: pointer; 
  }

  /* met une barre noir censurant une phrase */
  .mot-censure .bar-noir {
    background-color: black;
    color: black;
    padding: 5px; 
    border-radius: 5px; 
  }

